:root {
  --accent-color: #ff4151;
  --background-color: #00010a;
  --foreground-color: #0f111a;
  --note-color: #3b4252;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.sequencer {
  /* border-radius: 5px; */
  /* width: fit-content; */
  display: grid;
  /* grid-template-rows: repeat(6, 1fr); */
  /* grid-template-columns: fit-content; */
  /* margin: auto; */
}

.note {
  background-color: var(--note-color);
  border: none;
  border-radius: 5px;
  height: 4em;
  width: 4em;
  border-width: 1px;
  margin: 2px;
  outline: none;
}
.note-is-active {
  background-color: var(--accent-color);
}
.note:hover {
  filter: brightness(90%);
}

.sequencer-row {
  display: inline-block;
  white-space: nowrap;
}

.toggle-play {
  display: flex;
}

#play-pause-button {
  /* Basic button styles */
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 50%; /* Ensures the button is circular */
  cursor: pointer;
  background-color: var(--accent-color); /* Use the accent color variable */
}

/* Styling the SVG inside the button */
#play-pause-button img {
  width: 2em; /* Set the width of the SVG */
  height: 2em; /* Set the height of the SVG */
}
/* Hover effect */
#play-pause-button:hover {
  filter: brightness(90%);
}

/* #controls {
  background-color: var(--foreground-color);
  display: flex;
  flex-direction: row;
  place-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
} */

#bpm-input {
  width: 3em;
}

.right {
  display: flex;
}

label {
  margin-right: 0.5em;
  margin-left: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #e5e9f0;
    --foreground-color: #4c566a;
    --note-color: #a3be8c;
  }
}
